---
name: Internal - Main - Continuous Integration

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
    tags: ["*"]

  workflow_dispatch:

  schedule:
    - cron: "25 8 * * 1"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    permissions:
      actions: read
      contents: read
      id-token: write
      issues: read
      packages: write
      pull-requests: read
      security-events: write
      statuses: write
    secrets: inherit

  clean:
    needs: ci
    uses: ./.github/workflows/prune-pull-requests-images-tags.yml
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: read

  release:
    needs: ci
    if: github.event_name != 'schedule'
    uses: hoverkraft-tech/ci-github-publish/.github/workflows/release-actions.yml@ed864a88ec8610dc2a1b9aab1dbde2864bf75df4 # 0.16.0
    permissions:
      contents: read
    with:
      update-all: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'workflow_dispatch' }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

  prepare-docs:
    runs-on: ubuntu-latest
    needs: release
    if: github.event_name != 'schedule' && github.ref_name == github.event.repository.default_branch && needs.release.outputs.artifact-id
    permissions:
      contents: read
    outputs:
      artifact-id: ${{ needs.release.outputs.artifact-id }}
    steps:
      - name: Download Docs Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ needs.release.outputs.artifact-id }}
          path: /

  sync-docs:
    needs: prepare-docs
    if: needs.prepare-docs.outputs.artifact-id
    uses: hoverkraft-tech/public-docs/.github/workflows/sync-docs-dispatcher.yml@c40c17f7d6a8090950b3ef4bfc70502707a6bb9f # 0.3.0
    permissions:
      contents: read
    with:
      artifact-id: ${{ needs.prepare-docs.outputs.artifact-id }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}
