---
name: Internal - Common Continuous Integration tasks

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions: {}

jobs:
  ci:
    uses: ./.github/workflows/continuous-integration.yml
    permissions:
      actions: read
      contents: read
      id-token: write
      issues: read
      packages: write
      pull-requests: write
      security-events: write
      statuses: write
    secrets:
      oci-registry-password: ${{ github.token }}
