# Retrieves every subfolder from "images" and exposes it as a reusable workflow output
# so other pipelines can build/test those Docker bases without duplicating discovery logic.
---
name: Get available images matrix

on:
  workflow_call:
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
    outputs:
      images-matrix:
        description: |
          Available images matrix.
          Example:

          ```json
          ["composer","drupal-10"]
          ```
        value: ${{ jobs.get-available-images-matrix.outputs.images-matrix }}

permissions: {}

jobs:
  get-available-images-matrix:
    runs-on: ${{ fromJson(inputs.runs-on) }}
    permissions:
      contents: read
      id-token: write # Needed for getting local workflow actions
    outputs:
      images-matrix: ${{ steps.get-available-images.outputs.images }}
    steps:
      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        with:
          actions-path: actions

      - id: get-available-images
        uses: ./self-workflow/actions/get-available-images

      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
