name: Main - Continuous Integration

on:
  push:
    branches: [main]

permissions:
  contents: read
  issues: read
  packages: write
  pull-requests: read
  statuses: write
  # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
  id-token: write

jobs:
  ci:
    name: Continuous Integration
    uses: ./.github/workflows/__shared-ci.yml
    secrets:
      oci-registry-password: ${{ secrets.GITHUB_TOKEN }}

  get-available-images-matrix:
    uses: ./.github/workflows/__shared-get-available-images-matrix.yml

  clean:
  # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      packages: write
    needs: get-available-images-matrix
    uses: hoverkraft-tech/ci-github-container/.github/workflows/prune-pull-requests-images-tags.yml@0.22.0
    with:
      images: ${{ needs.get-available-images-matrix.outputs.images-matrix }}
